KRAKEN_API_KEY=your_kraken_api_key
KRAKEN_API_SECRET=your_kraken_api_secret_base64
GHOST_TOKEN=your_ghostfolio_auth_token
GHOST_HOST=http://ghostfolio:3333
GHOST_CURRENCY=USD
GHOST_PLATFORM_ID=your_platform_id
GHOST_ACCOUNT_NAME=Kraken
MAPPING_FILE=/app/mapping.yaml
SKIP_CRYPTO_TRANSFERS=true
API_CALL_DELAY=1.0
SYNC_SINCE=2024-01-01
CRON=0 */6 * * *
TZ=Europe/Zurich
